<TMPL_INCLUDE header.tmpl>
 
<form action="<TMPL_VAR FORM>" method="post">
 
<input type="hidden" name="action" value="<TMPL_VAR ACTION>">
<input type="hidden" name="sid" value="<TMPL_VAR SID>">
<input type="hidden" name="catid" value="<TMPL_VAR CATID>">

<table cellspacing="0" cellpadding="0" border="0" align="center" width="80%"> 
  <tr> <td align="center" valign="center" height=100%>
<br>
<table> 
<tr>
  <td colspan=2>
    <b>Rubrikname:</b>
    <TMPL_IF CAT_IF>
      &nbsp;&nbsp;<FONT COLOR=RED>(Rubrik existiert bereits)</FONT>
    </TMPL_IF>
  </td>
</tr>
<tr>
  <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td>
    <input type="text" name="cat_name" size="40" value="<TMPL_VAR CAT_NAME>">
  </td>
</tr>
<tr>
  <td colspan=2>
    <b>Beschreibung:</b>
  </td>
</tr>
<tr>
  <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td>
    <textarea name="descr" rows=10 cols=60 wrap=virtual><TMPL_VAR CAT_DESCR></textarea>
  </td>
</tr>

<tr>
  <td colspan=2>
    <TMPL_IF CHECKED_ACTIV>
      <input type=radio name="activ" value="activ" checked> aktiv
      <br>
      <input type=radio name="activ" value="inactiv"> inaktiv
    <TMPL_ELSE>
      <input type=radio name="activ" value="activ"> aktiv
      <br>
      <input type=radio name="activ" value="inactiv" checked> inaktiv
    </TMPL_IF>
  </td>
</tr>

<tr>
  <td colspan=2 align=center>
    <TMPL_IF CREATE_CHANGE>
      <input type="submit" name="create" value="Erstellen">
    <TMPL_ELSE>
      <input type="submit" name="change" value="&Auml;ndern">
    </TMPL_IF>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" name="break" value="Abbrechen">
  </td>
</tr>
</table>

</td> </tr> </table>

</form>

<TMPL_INCLUDE footer.tmpl>