<table cellspacing="0" cellpadding="5" border="0" align="center" width="90%">
<tr bgcolor="#cecece">
        <td align="center">
		<small>Webbasiertes Projektmanagement</small>
	</td>
</tr>
</table>

</body>
</html>
