<table cellspacing="0" cellpadding="5" border="0" align="center" width="90%">
<tr bgcolor="#bfbfbf">
        <td>
        <TMPL_IF NAV_MESSAGE>
                <a href="<TMPL_VAR NAV_MESSAGE>">Nachrichten</a>
        <TMPL_ELSE>
                &nbsp;
        </TMPL_IF>
        </td>
        <td>
        <TMPL_IF NAV_PROJECT>
                <a href="<TMPL_VAR NAV_PROJECT>">Projekte</a>
        <TMPL_ELSE>
                &nbsp;
        </TMPL_IF>
        </td>
        <td>
        <TMPL_IF NAV_CATEGORY>
                <a href="<TMPL_VAR NAV_CATEGORY>">Rubriken</a>
        <TMPL_ELSE>
                &nbsp;
        </TMPL_IF>
        </td>
        <td>
        <TMPL_IF NAV_USER>
                <a href="<TMPL_VAR NAV_USER>">Benutzer</a>
        <TMPL_ELSE>
                &nbsp;
        </TMPL_IF>
        </td>
        <td>
        <TMPL_IF NAV_NEWS>
                <a href="<TMPL_VAR NAV_NEWS>">News</a>
        <TMPL_ELSE>
                &nbsp;
        </TMPL_IF>
        </td>
        <td>
        <TMPL_IF NAV_CONFIG>
                <a href="<TMPL_VAR NAV_CONFIG>">Konfiguration</a>
        <TMPL_ELSE>
                &nbsp;
        </TMPL_IF>
        </td>
</table>

<table cellspacing="0" cellpadding="5" border="0" align="center" width="90%">
<tr bgcolor="#cecece">
        <td align="center">
		<small>Webbasiertes Projektmanagement</small>
	</td>
</tr>
</table>

</body>
</html>
