	</td>
</tr>
</table>
	
<table cellspacing="0" cellpadding="5" border="0" align="center" width="90%">
<tr bgcolor="#bfbfbf">
        <td>[
        <TMPL_IF NAV_MESSAGE>
                <a href="<TMPL_VAR NAV_MESSAGE>">Nachrichten</a> 
        </TMPL_IF>
        <TMPL_IF NAV_PROJECT>
                <a href="<TMPL_VAR NAV_PROJECT>">Projekte</a>
        </TMPL_IF>
        <TMPL_IF NAV_CATEGORY>
                <a href="<TMPL_VAR NAV_CATEGORY>">Rubriken</a> 
        </TMPL_IF>
        <TMPL_IF NAV_USER>
                <a href="<TMPL_VAR NAV_USER>">Benutzer</a> 
        </TMPL_IF>
        <TMPL_IF NAV_NEWS>
                <a href="<TMPL_VAR NAV_NEWS>">News</a> 
        </TMPL_IF>
        <TMPL_IF NAV_CONFIG>
                <a href="<TMPL_VAR NAV_CONFIG>">Konfiguration</a>
        </TMPL_IF>]
        </td>
</tr>
</table>

<table cellspacing="0" cellpadding="5" border="0" align="center" width="90%">
<tr bgcolor="#cecece">
        <td align="center">
		<small>Webbasiertes Projektmanagement</small>
		<br>
		Copyright (c) 2001, S&ouml;ren Wurch, Alexander Vipach, Michael Kr&uuml;ger and Michael Gaebler
	</td>
</tr>
</table>

</body>
</html>
