<table cellspacing="0" cellpadding="0" border="0" align="center" width="90%">
<tr bgcolor="#cecece">
	<td align="left">
		Benutzer: <TMPL_VAR FIRSTNAME> <TMPL_VAR LASTNAME>
	</td>
	<td align="right">
		[<a href="<TMPL_VAR LOGOUT>">Logout</a>]
	</td>
</tr>
</table>
