<TMPL_INCLUDE header.tmpl>

<input type="hidden" name="action" value="<TMPL_VAR ACTION>">
<input type="hidden" name="sid" value="<TMPL_VAR SID>">

<hr size="1" noshade width="80%">

<TMPL_INCLUDE message_nav.tmpl>

<p><div align="center"><font color="#ff0000"><TMPL_VAR MESSAGE_STATUS></font></p>

<TMPL_IF MESSAGE_LOOP>
<p>
	<table cellspacing="0" cellpadding="0" border="0" align="center">
	<tr>
		<th><b>An:</b></th>
		<th><b>Betreff:</b></th>
		<th><b>Datum:</b></th>
	</tr>
	<TMPL_LOOP MESSAGE_LOOP>
	<tr>
		<td><TMPL_VAR MESSAGE_1ST_RECEIVER><TMPL_IF MESSAGE_RECEIVER_COUNT>...<TMPL_VAR MESSAGE_RECEIVER_COUNT></TMPL_IF>&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href="<TMPL_VAR MESSAGE_LINK>"><TMPL_VAR MESSAGE_SUBJECT></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><tt><TMPL_VAR MESSAGE_DATE></tt></td>
	</tr>
	</TMPL_LOOP>
	</table>
</p>
<TMPL_INCLUDE message_nav.tmpl>

</TMPL_IF>

<hr size="1" noshade width="80%">

<TMPL_INCLUDE footer.tmpl>
