<TMPL_INCLUDE header.tmpl>

<input type="hidden" name="action" value="<TMPL_VAR ACTION>">
<input type="hidden" name="sid" value="<TMPL_VAR SID>">

<hr size="1" noshade width="80%">

<TMPL_INCLUDE message_nav.tmpl>


<table cellspacing="0" cellpadding="5" border="0" align="center">
<TMPL_IF PARENT_LINK>
<tr>	<td></td>
	<td>
	<small><a href="<TMPL_VAR PARENT_LINK>">parent-message</a></small>
	</td>
</tr>
</TMPL_IF>
<tr>
	<td>Datum</td>
	<td>
	<tt><TMPL_VAR MESSAGE_DATE></tt>
	</td>
</tr>
<TMPL_IF MESSAGE_SENDER>
<tr>
	<td>Absender</td>
	<td>
	<i><TMPL_VAR MESSAGE_SENDER></i>
	</td>
</tr>
</TMPL_IF>
<tr>
	<td>Betreff</td>
	<td>
	<b><TMPL_VAR MESSAGE_SUBJECT></b>
	</td>
</tr>
<tr>	<td></td>
	<td>
	<TMPL_VAR MESSAGE_CONTENT>
	</td>
</tr>

</table>
<p>
<p>
<div align="center"><a href="<TMPL_VAR MESSAGE_REPLY>">Reply</a></div>

<TMPL_INCLUDE message_nav.tmpl>

<hr size="1" noshade width="80%">

<TMPL_INCLUDE footer.tmpl>

