<TMPL_INCLUDE header.tmpl> 

<input type="hidden" name="action" value="<TMPL_VAR ACTION>">
<input type="hidden" name="sid" value="<TMPL_VAR SID>">

<TMPL_INCLUDE message_nav.tmpl>
<p><center><b><TMPL_VAR MSG_NOTIFY></b></center></p>
<TMPL_IF MSG_LOOP>
	<table cellspacing="0" cellpadding="0" border="0" align="center">
	<TMPL_LOOP MSG_LOOP>
	<tr>
	<td>
	<tt><TMPL_VAR DATE></tt>
	</td>
        <td>
	<a href="<TMPL_VAR MSG_LINK>"><TMPL_VAR SUBJECT></a>
	</td>
        <td>
	<i><TMPL_VAR FIRSTNAME> <TMPL_VAR LASTNAME> (<TMPL_VAR USERNAME>)</i>
	</td>
	</tr>
	</TMPL_LOOP>
	</table>
<p>
<TMPL_INCLUDE message_nav.tmpl>
</p>
</TMPL_IF>

<TMPL_INCLUDE footer.tmpl>


