<TMPL_INCLUDE header.tmpl>

<input type="hidden" name="action" value="<TMPL_VAR ACTION>">
<input type="hidden" name="sid" value="<TMPL_VAR SID>">

<hr size="1" noshade width="80%">

<TMPL_INCLUDE message_nav.tmpl>

<form action="<TMPL_VAR FORM>" method="post">
<input type="hidden" name="action" value="<TMPL_VAR ACTION>">
<input type="hidden" name="sid" value="<TMPL_VAR SID>">

<input type="hidden" name="parent_mid" value="<TMPL_VAR PARENT_MID>">

<p>
<table cellspacing="0" cellpadding="5" border="0" width="80%" align="center" bgcolor="#b0b0b0">
<tr>
	<td><b>An Benutzer:</b>
	<TMPL_IF NO_RECEIVER>
	<font color="#ff0000"><TMPL_VAR NO_RECEIVER></font>
	</TMPL_IF>
	<TMPL_IF CHECK_USERNAME>
	<font color="#ff0000">
	Unbekannt: <TMPL_LOOP CHECK_USERNAME><TMPL_VAR USERNAME>&nbsp;</TMPL_LOOP>
	</font>
	</TMPL_IF><br>
	<textarea name="to_usernames" rows="2" cols="40" wrap="virtual"><TMPL_VAR TO_USERNAMES></textarea>
	</td>
	<td valign="top" rowspan="2">
	<br>
	<input type="submit" name="choose_receivers" value="Empfänger Auswählen">
	<TMPL_IF ANSWERMODE>
	<b>Antwort an:</b><br>
		<input type="checkbox" name="answermode_sender" value="1" <TMPL_IF SENDER_CHECKED>checked</TMPL_IF>>Absender<br>
		<input type="checkbox" name="answermode_all" value="1" <TMPL_IF ALL_CHECKED>checked</TMPL_IF>>Empf&auml;nger<br>
	</TMPL_IF>
	</td>
</tr>
<tr>
	<td><b>Betreff:</b><br>
	<input type="text" name="subject" size="40" maxlength="255" value="<TMPL_VAR MESSAGE_SUBJECT>"></td>
</tr>
<tr>
	<td colspan="2"><b>Text:</b><br>
	<textarea name="content" rows="10" cols="60" wrap="virtual"><TMPL_VAR MESSAGE_CONTENT></textarea></td>
</tr>
<tr>
	<td colspan="2" align="center"><input type="submit" name="send_message" value="Absenden"></td>
</tr>
</table>
</form>


</p>
<TMPL_INCLUDE message_nav.tmpl>

<hr size="1" noshade width="80%">

<TMPL_INCLUDE footer.tmpl>
