<table cellspacing="0" cellpadding="5" border="0" align="center">
<tr>
	<td><small><a href="<TMPL_VAR NAV_INBOX>">Postfach</a></small></td>
	<td><small><a href="<TMPL_VAR NAV_RECEIVED>">gelesen</a></small></td>
	<td><small><a href="<TMPL_VAR NAV_SEND>">gesendet</a></small></td>
	<td><small><a href="<TMPL_VAR NAV_COMPOSE>">verfassen</a></small></td>
</tr>
</table>
