<TMPL_INCLUDE header.tmpl>

<!-- Leader -->

<input type="hidden" name="action" value="<TMPL_VAR ACTION>">
<input type="hidden" name="sid" value="<TMPL_VAR SID>">

<table cellspacing="0" cellpadding="0" border="0" align="center" width="50%"> <tr> <td align=center>

<table width=100%>

  <tr> <td align=center> <table cellspacing=0 border=0 width=100%> 

<TMPL_LOOP NEWS_LOOP>

  <tr>
    <TMPL_IF STATUS>
      <td bgcolor=blue> <TMPL_VAR SUBJECT> </td>
      <td bgcolor=blue align=right> (<a href='<TMPL_VAR RELEASE_LINK>'>freigegeben</a>) </td>
    <TMPL_ELSE>
      <td bgcolor=red> <TMPL_VAR SUBJECT> </td>
      <td bgcolor=red align=right> (nicht <a href='<TMPL_VAR RELEASE_LINK>'>freigegeben</a>) </td>
    </TMPL_IF>
  </tr>
  <tr>
    <td colspan=2 bgcolor=#cecece> <TMPL_VAR TEXT> </TD>
  </tr>
  <tr>
    <td align=right colspan=2 bgcolor=#bfbfbf> <TMPL_VAR AUTHOR> </td>
  </tr>
  <tr> <td colspan=2> &nbsp; </td> </tr>


</TMPL_LOOP>

 </table> </tr> </td>

  <tr>
    <td align=center>
      <br><br>
      <a href='<TMPL_VAR NEWS_NEW_LINK>'>Neue News schreiben</a>
    </td>
  </tr>

</table>

</td> </tr> </table>

<TMPL_INCLUDE footer.tmpl>
