<TMPL_INCLUDE header.tmpl>

<input type="hidden" name="action" value="<TMPL_VAR ACTION>">
<input type="hidden" name="sid" value="<TMPL_VAR SID>">

<table cellspacing="0" cellpadding="0" border="0" align="center" width="80%"> <tr> <td align=center>

<table> <tr> <td>

<a href='<TMPL_VAR NEWS_NEW_LINK>'>Neue News schreiben</a>

</td> </tr> </table>

</td> </tr> </table>

<TMPL_INCLUDE footer.tmpl>
