<TMPL_INCLUDE header.tmpl>

<!-- Member -->

<input type="hidden" name="action" value="<TMPL_VAR ACTION>">
<input type="hidden" name="sid" value="<TMPL_VAR SID>">

<table cellspacing="0" cellpadding="0" border="0" align="center" width="50%"> <tr> <td align=center>

<table width=100%>

  <tr> <td> <table cellspacing=0 border=0 width=100%>

<TMPL_IF NEWS_LOOP>
  <tr>
    <td align=center colspan=2>
      <br>
      <a href='<TMPL_VAR NEWS_NEW_LINK>'>Neue News schreiben</a>
      <br><br>
    </td>
  </tr>
</TMPL_IF>

<TMPL_LOOP NEWS_LOOP>

  <TMPL_IF STATUS>
    <tr>
      <td bgcolor="#80FB92" rowspan="4" valign="center"> <TMPL_VAR SUBJECT> </td>
      <td bgcolor="#80FB92" align="right"> (freigegeben) </td>
    </tr>
    <TMPL_IF EDIT_LINK>
      <tr>
        <td bgcolor="#80FB92" align="right"> (<a href="<TMPL_VAR EDITLINK>">editieren</a>) </td>
      </tr>
    <TMPL_ELSE>
      <tr>
        <td bgcolor="#80FB92" align="right"> &nbsp; </td>
      </tr>
    </TMPL_IF>
    <TMPL_IF DELETE_LINK>
      <tr>
        <td bgcolor="#80FB92" align="right"> (<a href="<TMPL_VAR DELETE_LINK>">l&ouml;schen</a>) </td>
      </tr>
    <TMPL_ELSE>
      <tr>
        <td bgcolor="#80FB92" align="right"> &nbsp; </td>
      </tr>
    </TMPL_IF>
    <tr>
      <td bgcolor="#80FB92" align="right"> <TMPL_VAR STDATE> </td>
    </tr>
  <TMPL_ELSE>
    <tr>
      <td bgcolor="#FB8080" rowspan="4" valign="center"> <TMPL_VAR SUBJECT> </td>
      <td bgcolor="#FB8080" align="right"> (nicht freigegeben) </td>
    </tr>
    <TMPL_IF EDIT_LINK>
      <tr>
        <td bgcolor="#FB8080" align="right"> (<a href="<TMPL_VAR EDIT_LINK>">editieren</a>) </td>
      </tr>
    <TMPL_ELSE>
      <tr>
        <td bgcolor="#FB8080" align="right"> &nbsp; </td>
      </tr>
    </TMPL_IF>
    <TMPL_IF DELETE_LINK>
      <tr>
        <td bgcolor="#FB8080" align="right"> (<a href="<TMPL_VAR DELETE_LINK>">l&ouml;schen</a>) </td>
      </tr>
    <TMPL_ELSE>
      <tr>
        <td bgcolor="#FB8080" align="right"> &nbsp; </td>
      </tr>
    </TMPL_IF>
    <tr>
      <td bgcolor="#FB8080" align="right"> <TMPL_VAR STDATE> </td>
    </tr>
  </TMPL_IF>
  <tr>
    <td colspan=2 bgcolor=#cecece> <TMPL_VAR TEXT> </TD>
  </tr>
  <tr>
    <td align=right colspan=2 bgcolor=#bfbfbf>
      <TMPL_VAR AUTHOR>
      <TMPL_IF CHANGE_AUTHOR>
        (ge&auml;ndert am <TMPL_VAR CHANGE_DATE> von <TMPL_VAR CHANGE_AUTHOR>)
      </TMPL_IF>
    </td>
  </tr>
  <tr> <td colspan=2> &nbsp; </td> </tr>


</TMPL_LOOP>

 </table> </tr> </td>

  <tr>
    <td align=center>
      <a href='<TMPL_VAR NEWS_NEW_LINK>'>Neue News schreiben</a>
    </td>
  </tr>

</table>

</td> </tr> </table>

<TMPL_INCLUDE footer.tmpl>
