<TMPL_INCLUDE header.tmpl>

<form action="<TMPL_VAR FORM>" method="post">
<input type="hidden" name="action" value="<TMPL_VAR ACTION>">
<input type="hidden" name="sid" value="<TMPL_VAR SID>">

<hr size="1" noshade width="80%">

<table cellspacing="2" cellpadding="2" border="0" align="center" width="80%">
<TMPL_IF IF_PROJECTS>
<tr>
	<td>
		<b>Datum (Start/Ende)</b>	
	</td>
	<td>
		<b>Name</b>
	</td>
	<td>
                <b>Status</b>
        </td>
        <td>
                <b>Modus</b>
        </td>
	<td>
		<b>Phasen</b>
	</td>
	<td>
		<b>Betreuer</b>
	</td>
	<td>
		<b>Leiter</b>
	</td>
	<td>
		<b>Mitarbeiter</b>
	</td>
</tr>
<tr>
	<td colspan="8">
		<hr>
	</td>
</tr>
<TMPL_LOOP PROJECTS>
<tr valign="top">
	<td>
		<TMPL_VAR START_DT> - <TMPL_VAR ENDE_DT>
	</td>
	<td>
		<a href="<TMPL_VAR CHANGE_PROJECT>"><TMPL_VAR NAME></a> 
	</td>
	<td>
		<TMPL_VAR STATUS>
	</td>
	<td>
		<TMPL_VAR MODUS>
	</td>
	<td>
		<a href="<TMPL_VAR CHANGE_PHASES>"><TMPL_VAR PHASES></a>
	</td>
	<td>
		<TMPL_VAR USER_AB>
	</td>
	<td>
		<TMPL_VAR USER_C>
	</td>
	<td>
		<a href="<TMPL_VAR CHANGE_USER_D>"><TMPL_VAR USER_D></a>
	</td>
</tr>
<tr>
	<td colspan="8">
		&nbsp;
	</td>
</tr>
</TMPL_LOOP>
<TMPL_ELSE>
	<font color="red"><TMPL_VAR NO_PROJECTS></font>
</TMPL_IF>
</table>

<hr size="1" noshade width="80%">

</form>

<TMPL_INCLUDE footer.tmpl>
