<html>
<body>

<TMPL_INCLUDE header.tmpl> 

<input type="hidden" name="action" value="<TMPL_VAR ACTION>">
<input type="hidden" name="sid" value="<TMPL_VAR SID>">

<table cellspacing="0" cellpadding="0" align="center" height="100%">
<tr>
	<td>
		<h1>Webbasiertes Projektmanagement (WBP)<h1>
		<h3>
		Entwickelt von:
		<ul>
			<ul>
				<li>Michael Gaebler</li>
				<li>Michael Kr&uuml;ger</li>
				<li>Alexander Vipach</li>
				<li>S&ouml;ren Wurch (Projektleiter)</li>
			</ul>
		</ul>
		</h3>
	</td>
</tr>
<tr>
	<td height="200">&nbsp;</td>	
</tr>
<tr align="center">
	<td width="400" valign="bottom">	
		<i>
			This software is copyright(c) 2001 S&ouml;ren Wurch,
			Alexander Vipach, Michael Kr&uuml;ger and Michael Gaebler. 
			It is free software and can be used under the same terms
       			as perl, i.e. either the GNU Public Licence or the 
			Artistic License.
		</i>
	</td>
</tr>
</table>

<TMPL_INCLUDE footer.tmpl>
