<html>
<body>

<TMPL_INCLUDE header.tmpl> 

<input type="hidden" name="action" value="<TMPL_VAR ACTION>">
<input type="hidden" name="sid" value="<TMPL_VAR SID>">

<h1>Start ...</h1>

<TMPL_INCLUDE footer.tmpl>
