<html>
<body>

<TMPL_INCLUDE header.tmpl> 

<input type="hidden" name="action" value="<TMPL_VAR ACTION>">
<input type="hidden" name="sid" value="<TMPL_VAR SID>">

<table cellspacing="5" cellpadding="0" border="0" align="center" height="90%">
<tr valign="top">
	<td>
	<TMPL_IF NAV_MESSAGE>
		<a href="<TMPL_VAR NAV_MESSAGE>">Nachrichten</a>
	<TMPL_ELSE>
		&nbsp;
	</TMPL_IF>
	</td>
	<td>
	<TMPL_IF NAV_PROJECT>
		<a href="<TMPL_VAR NAV_PROJECT>">Projekte</a>
	<TMPL_ELSE>
		&nbsp;
	</TMPL_IF>
	</td>
	<td>
	<TMPL_IF NAV_CATEGORY>
		<a href="<TMPL_VAR NAV_CATEGORY>">Rubriken</a>
	<TMPL_ELSE>
		&nbsp;
	</TMPL_IF>
	</td>
	<td>
	<TMPL_IF NAV_USER>
		<a href="<TMPL_VAR NAV_USER>">Benutzer</a>
	<TMPL_ELSE>
		&nbsp;
	</TMPL_IF>
	</td>
	<td>
	<TMPL_IF NAV_NEWS>
		<a href="<TMPL_VAR NAV_NEWS>">News</a>
	<TMPL_ELSE>
		&nbsp;
	</TMPL_IF>
	</td>
	<td>
	<TMPL_IF NAV_CONFIG>
		<a href="<TMPL_VAR NAV_CONFIG>">Konfiguration</a>
	<TMPL_ELSE>
		&nbsp;
	</TMPL_IF>
	</td>
</tr>
</table>

<TMPL_INCLUDE footer.tmpl>
