<TMPL_INCLUDE header.tmpl>

<form action=<TMPL_VAR FORM> method="post">

<input type="hidden" name="action" value="<TMPL_VAR ACTION>">
<input type="hidden" name="sid" value="<TMPL_VAR SID>">
<input type="hidden" name="id" value="<TMPL_VAR ID>">

<table cellspacing="0" cellpadding="0" border="0" align="center" width="80%">
  <tr>
    <td align="center">
      <h3><TMPL_VAR OUTPUT><TMPL_VAR ID></h3>
    </td>
    <td>
      <table cellspacing="0" cellpadding="0" border="0" align="center">
	<tr>
		    <td>
			Username <br>
		    </td>
		    <td>
		        <TMPL_IF USERNAME>
			    <input type="text" name="username" size=20 maxlength=8 value="<TMPL_VAR USERNAME>">
			<TMPL_ELSE>
			    <input type="text" name="username" size=20 maxlength=8>
			</TMPL_IF>
		    </td>
		    <td>
			<TMPL_VAR USER_LANG>
			<TMPL_VAR USER_ERROR>
			<TMPL_VAR USER_KURZ>
		    </td>
		</tr>
		<tr>
		    <td>
			<TMPL_VAR PASSWORD_> <br>
		    </td>
		    <td>
			<TMPL_IF PASSWORD>
			    <input type="password" name="password" size=20 maxlength=8 value="<TMPL_VAR PASSWORD>">
			<TMPL_ELSE>
			    <input type="password" name="password" size=20 maxlength=8>
			</TMPL_IF>
		    </td>
		    <td>
			<TMPL_VAR PASS_LANG>
			<TMPL_VAR PASS_ERROR1>
			<TMPL_VAR PASS_KURZ>
		    </td>
		</tr>
		<tr>
		    <td>
			<TMPL_VAR CONFIRM_> <br>
		    </td>
		    <td>
			<TMPL_IF PASSWORD2>
			    <input type="password" name="password2" size=20 maxlength=8 value="<TMPL_VAR PASSWORD2>">
			<TMPL_ELSE>
			    <input type="password" name="password2" size=20 maxlength=8>
			</TMPL_IF>
		    </td>
		    <td>
			<TMPL_VAR PASS_ERROR2>
		    </td>
		</tr>
		<tr>
		    <td>
			<TMPL_VAR FIRSTNAME_> <br>
		    </td>
		    <td>
			<TMPL_IF FIRST_NAME>
			    <input type="text" name="first_name" size=20 maxlength=30 value="<TMPL_VAR FIRST_NAME>">
			<TMPL_ELSE>
			    <input type="text" name="first_name" size=20 maxlength=30>
			</TMPL_IF>
		    </td>
		    <td>
			<TMPL_VAR FIRST_LANG>
			<TMPL_VAR FIRST_KURZ>
		    </td>
		</tr>
		<tr>
		    <td>
			<TMPL_VAR LASTNAME_> <br>
		    </td>
		    <td>
			<TMPL_IF LAST_NAME>
			    <input type="text" name="last_name" size=20 maxlength=30 value="<TMPL_VAR LAST_NAME>">
			<TMPL_ELSE>
			    <input type="text" name="last_name" size=20 maxlength=30>
			</TMPL_IF>
		    </td>
		    <td>
			<TMPL_VAR LAST_LANG>
			<TMPL_VAR LAST_KURZ>
		    </td>
		</tr>
		<tr>
		    <td>
		    	<TMPL_VAR MAIL_> <br>
		    </td>
		    <td>
			<TMPL_IF EMAIL>
			    <input type="text" name="email" size=20 maxlength=100 value="<TMPL_VAR EMAIL>">
			<TMPL_ELSE>
			    <input type="text" name="email" size=20 maxlength=100>
			</TMPL_IF>
		    </td>
		    <td>
			<TMPL_VAR MAIL_LANG>
			<TMPL_VAR MAIL_KURZ>
			<TMPL_VAR MAIL_ERROR>
		    </td>
		</tr>
		<tr>
		    <td>
			<TMPL_VAR TYPE_> <br>
		    </td> 
		    <td>
			<TMPL_IF A_USER_A>
			    <select name="type">
				<option value="A" selected>Typ A
			    </select>
			</TMPL_IF>
		    	<TMPL_IF A_USER_B>
			    <select name="type">
				<option value="B" selected>Typ B
	        		<option value="C">Typ C
				<option value="D">Typ D
			    </select>
			</TMPL_IF>
			<TMPL_IF A_USER_C>
			    <select name="type">
				<option value="B">Typ B
	        		<option value="C" selected>Typ C
				<option value="D">Typ D
			    </select>
			</TMPL_IF>
			<TMPL_IF A_USER_D>
			    <select name="type">
				<option value="B">Typ B
	        		<option value="C">Typ C
				<option value="D" selected>Typ D
			    </select>
			</TMPL_IF>
			<TMPL_IF C_USER>
			    <select name="type">
	        		<option value="D" selected>Typ D
			    </select>
			</TMPL_IF>
		    </td>
		</tr>
		<tr>
		    <td>
		    	<TMPL_VAR DESC_> <br>
		    </td>
		    <td colspan="2">	
			<textarea name="desc" rows=3 cols=40 wrap="virtual"><TMPL_VAR DESC></textarea>
		    </td>
		    <td>
			<TMPL_VAR DESC_LANG>
    		</tr>
		<tr>
		    <td>
		    </td>
		    <td>
			<input type="submit" name="ok" value=<TMPL_VAR B_UEBERNEHMEN>>
		    </td>
		</tr>
          </table>	
    </td>
     </tr>        
</table>
</form>
<TMPL_INCLUDE footer.tmpl>

