
<TMPL_INCLUDE header.tmpl>

<form action="<TMPL_VAR FORM>" method="post">
<input type="hidden" name="action" value="<TMPL_VAR ACTION>">
<input type="hidden" name="sid" value="<TMPL_VAR SID>">


<table cellspacing="0" cellpadding="0" border="0" align="center" width="80%">
<tr>
    <td>
	&nbsp;
    </td>
</tr>
<tr>
    <td align="center">
        <h3><TMPL_VAR OUTPUT></h3><br>
    </td>
</tr>
<tr>
    <td align="center">
	<input type="submit" value="weiter">
    </td>
</tr>
</table>

</form>
<TMPL_INCLUDE footer.tmpl>
