
<TMPL_INCLUDE header.tmpl>

<form action="<TMPL_VAR FORM>" method="post">
<input type="hidden" name="action" value="<TMPL_VAR ACTION>">
<input type="hidden" name="sid" value="<TMPL_VAR SID>">

<table cellspacing="0" cellpadding="0" border="0" align="center">
<tr>
    <td>
	<center>
	    <h1>User-Database</h1>
	    	    You are a type-<TMPL_VAR USER_TYPE> user.<br>
	</center>
    </td>
</tr>
<tr>
    <table align="center">
	<tr>
            <td>Id</td>
            <td>Username</td>
     	    <td>Firstname</td>
            <td>Lastname</td>
            <td>Type</td>
   	    <td>Status</td>
	</tr>
      <TMPL_LOOP USERLIST_LOOP>
        <tr>
	    <td>
		<TMPL_VAR ID>
            </td>
            <td>
    		<a href="<TMPL_VAR FORM>&method=edit&user=<TMPL_VAR ID>"><TMPL_VAR USERNAME></a>
            </td>
            <td>
		<TMPL_VAR FIRSTNAME>
            </td>
            <td>
		<TMPL_VAR LASTNAME>
            </td>
            <td>
		<TMPL_VAR TYPE>
            </td>
            <td>
		<TMPL_IF AKTIV>
		    <a href="<TMPL_VAR FORM>&method=inaktiv&user=<TMPL_VAR ID>">aktiv</a>
		</TMPL_IF>
		<TMPL_IF INAKTIV>
		    <a href="<TMPL_VAR FORM>&method=aktiv&user=<TMPL_VAR ID>">inaktiv</a>
		</TMPL_IF>
            </td>
            <td>
	        
            </td>
        </tr>
      </TMPL_LOOP>
    </table>
</tr>
<tr>
    <center>
	<TMPL_IF NAV_NEW>
             &nbsp;
	     <a href="<TMPL_VAR LINK>&method=add">neuen User anlegen</a>
        </TMPL_IF>
    </center>
</tr>

</table>
</form>
<TMPL_INCLUDE footer.tmpl>
